<div class="row">
  <div class="col-2 sideNav">
    <nav class="nav flex-column">
      <a class="nav-link" href="/view_cards">View Cards</a>
      {{!-- <a class="nav-link" href="/user/classes">Classes</a>
      <a class="nav-link" href="/user/tests">Tests</a>
      <a class="nav-link" href="/user/chapters_concepts">Chapters/Big Concepts</a>
      <a class="nav-link" href="/user/archives">Archive</a> --}}
    </nav>
  </div>
  <div class="col-10">
     <div class="container hidden">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">Question:</label>
            <input placeholder="-Enter your question-" type="text" class="form-control" id="title">
            <br />
            <label for="body">Answer:</label>
            <textarea placeholder="-Enter the answer-" class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Subject:</label>
              <select class="custom-select" id="subject">
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
            <a class="btn btn-light" href="/subjects">Manage Subjects</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  </div>
</div>
