{{!-- side nav and cards --}}
<div class="row">
  <div class="col-2 sideNav">
    <nav class="nav flex-column">
      <a class="nav-link" href="/view_cards">View Cards</a>
      {{!-- <a class="nav-link" href="/user/classes">Classes</a>
      <a class="nav-link" href="/user/tests">Tests</a>
      <a class="nav-link" href="/user/chapters_concepts">Chapters/Big Concepts</a>
      <a class="nav-link" href="/user/archives">Archive</a> --}}
    </nav>
  </div>
    <div class="col-7 container cardSections">
      <button type="button" class="btn btn-primary btn-lg addTopic"><i class="fas fa-plus"></i>Add Test</button>
      <h3>Tests</h3>
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">UCSD Coding Assessment</h5>
            <p class="card-text">Weeks 2 - 3</p>
            <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
          </div>
        </div>
      </div>
    </div>
</div>