
{{!-- side nav and cards --}}
<div class="row">
 <div class="col-2 sideNav">
      <nav class="nav flex-column">
        <a class="nav-link active" href="/user">Home</a>
        <a class="nav-link" href="/create">Create Cards</a>
        <a class="nav-link" href="/subjects">View Subjects</a>
        <a class="nav-link" href="/view_cards">View Cards</a>
      </nav>
    </div>
  <div class="col-7">
    <div class="container cardSections">
      <h3>Currently studying (favorites)</h3>
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">UCSD Coding Assessment<i class="fas fa-star"></i></h5>
            <p class="card-text">Weeks 2 - 3</p>
            <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
            <p class="card-text"><small class="text-muted">Last studied 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container cardSections">
      <h3>Study History</h3>
      <div class="card-deck">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">UCSD Coding Assessment</h5>
            <p class="card-text">Weeks 2 - 3</p>
            <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
            <p class="card-text"><small class="text-muted">Last studied 3 mins ago</small></p>

          </div>
        </div>
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Javascript</h5>
            <p class="card-text">Study Javascript.</p>
            <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
            <p class="card-text"><small class="text-muted">Last studied 3 mins ago</small></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>