<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Flashee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-2">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Add Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Filter</a>
                </li>
            </ul>
        </div>

        <div class="col-10">
            <h3>All Cards</h3>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">All Cards</h5>
                    <p class="card-text">View all cards.</p>
                    <a href="#" class="btn btn-primary">Study!</a>
                </div>
            </div>
            <h3>Subjects</h3>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                        <p class="card-text">Study HTML.</p>
                        <a href="#" class="btn btn-primary">Study!</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <p class="card-text">Study CSS.</p>
                        <a href="#" class="btn btn-primary">Study!</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">Study Javascript.</p>
                        <a href="#" class="btn btn-primary">Study!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>