{{!-- side nav and cards --}}
<div class="row">
    <div class="col-2 sideNav">
        <nav class="nav flex-column">
    <a class="nav-link" href="/user/view_cards">View Cards</a>

        </nav>
    </div>
    <div class="col-7">
        <div class="container cardSections">
                <button type="button" class="btn btn-primary btn-lg addTopic"><i class="fas fa-plus"></i>Add Class</button>
            <h3>Classes</h3>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">UCSD Coding Bootcamp</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Sprint</h6>
                        <p class="card-text">UCSD Coding Assessment</p>
                        <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
                    </div>
                </div>
            </div>
        </div>
    </div>