   <div class="row">
       <div class="col-2 sideNav">
           <nav class="nav flex-column">
               <a class="nav-link active" href="/user">Home</a>
               <a class="nav-link" href="/create">Create Cards</a>
               <a class="nav-link" href="/subjects">View Subjects</a>
               <a class="nav-link" href="/view_cards">View Cards</a>
           </nav>
       </div>
       <div class="col-10">
           <div class="container blog mt-3">
               <div class="row">
                   <div class="col-sm-4">
                       <a class="btn btn-light" href="/create">New Flashcard</a>
                   </div>
                   <div class="col-sm-4">
                       <a class="btn btn-light" href="/subjects">Manage Subjects</a>
                   </div>
               </div>

               <div class="col-12 offset-sm-1 blog-container mt-3"> </div>
           </div>
       </div>
   </div>