{{!-- side nav and cards --}}
{{!-- <div class="row">
    <div class="col-2 sideNav">
        <nav class="nav flex-column">
        <a class="nav-link" href="/view_cards">View Cards</a>

        </nav>
    </div>
    <div class="col-7">
        <div class="container cardSections">
                <button type="button" class="btn btn-primary btn-lg addTopic"><i class="fas fa-plus"></i>Add Class</button>
            <h3>Classes</h3>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">UCSD Coding Bootcamp</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Sprint</h6>
                        <p class="card-text">UCSD Coding Assessment</p>
                        <a href="#" class="btn btn-sm btn-primary">Study!</a>
            <a href="#" class="btn btn-sm btn-warning">Archive</a>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}

    <div class="container blog">
    <div class="row">
      <div class="col-sm-4 offset-sm-3">
        <a class="btn btn-light" href="/create">New Flashcard</a>
      </div>
      <div class="col-sm-4 ">
        <a class="btn btn-light" href="/subjects">Manage Subjects</a>
      </div>
    </div>
    <div class="row">
      {{!-- <div class="col-md-6 offset-md-3 blog-container"> --}}
        <div class="container">
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="row">
                  <div class="col-8 offset-2">
                    <div class="card mt-4">
                      <div class="card-body">
                          <div class="flip-card-front">
                            <div class="col-md-6 offset-md-3 blog-container">
                            </div>
                          </div>
                          <div class="flip-card-back">
                            {{bodyInput}}
                          <a href="/">← Back To Home</a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>

 