.list-group-item {
  line-height: 2.5;
}

body {
  background-color: lightgray;
}

.subj {
  background-color: white;
}

.sideNav {
  background-color: white;
}

#jumbo {
  padding-left: 0px;
}

.fa-user-astronaut{
  margin-right: 15px;
  margin-left: 15px;
}

.cardSections{
  margin-bottom: 30px;
}

.addTopic{
  margin-bottom: 10px;
}

.theFlashCard {
  height: 500px;
  width: 300px;
  background-color: white;
}

.cardTurner{
  margin-top: 5px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
